<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>445123313549-dkt2g8ei66g7cg8o6cv9ok9nfa6v3ae6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.445123313549-dkt2g8ei66g7cg8o6cv9ok9nfa6v3ae6</string>
	<key>API_KEY</key>
	<string>AIzaSyDc_p2adTBSo4iYFwKtqwNe9U0-ryNcXKc</string>
	<key>GCM_SENDER_ID</key>
	<string>445123313549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>krushev.Menu</string>
	<key>PROJECT_ID</key>
	<string>menu-a68d9</string>
	<key>STORAGE_BUCKET</key>
	<string>menu-a68d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:445123313549:ios:265249fb230375a98687c4</string>
</dict>
</plist>